/* General styling for the game */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Styling for the game board */
.game-board {
  margin: 20px;
}

/* Styling for each square button */
.grid {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
  cursor: pointer;
}

.key {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
  cursor: pointer;
}
.key enter-key {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
.key cancel-key {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
/* Clear floats after the squares */
.key-row:after {
  align-items: center;
  clear: both;
  content: "";
  display: table;
}

/* Styling for the status display */
.status {
  margin-bottom: 10px;
}

/* Styling for the game info section */
.game-info {
  margin-left: 20px;
}

/* Additional styling for lists, if used in game info */
.game-info ol {
  padding-left: 30px;
}
